:root[zen-library-open="true"] #navigator-toolbox,
:root[zen-library-open-compact="true"] #navigator-toolbox,
:root[zen-library-open="true"] #zen-sidebar-splitter,
:root[zen-library-open-compact="true"] #zen-sidebar-splitter {
  display: none !important;
}
:root[zen-library-open="true"] #browser,
:root[zen-library-open-compact="true"] #browser {
  overflow: hidden !important;
}
:root[zen-library-open="true"] #zen-appcontent-wrapper,
:root[zen-library-open-compact="true"] #zen-appcontent-wrapper,
:root[zen-library-open="true"] #urlbar:not([open]),
:root[zen-library-open-compact="true"] #urlbar:not([open]) {
  transform: translateX(var(--zen-library-offset, 0px)) !important;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100% !important;
}
:root[zen-right-side="true"][zen-library-open="true"] #zen-appcontent-wrapper,
:root[zen-right-side="true"][zen-library-open-compact="true"]
  #zen-appcontent-wrapper,
:root[zen-right-side="true"][zen-library-open="true"] #urlbar:not([open]),
:root[zen-right-side="true"][zen-library-open-compact="true"]
  #urlbar:not([open]) {
  transform: translateX(calc(-1 * var(--zen-library-offset, 0px))) !important;
}
:root[zen-library-dragging="true"] #zen-tabbox-wrapper {
  transform: translateX(calc(-1 * var(--zen-library-offset, 0px))) !important;
  transition-delay: 0.1s !important;
}
:root[zen-right-side="true"][zen-library-dragging="true"] #zen-tabbox-wrapper {
  transform: translateX(var(--zen-library-offset, 0px)) !important;
  transition-delay: 0.1s !important;
}
#zen-tabbox-wrapper {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.browserSidebarContainer.zen-glance-overlay {
  translate: calc(-1 * var(--zen-library-offset, 0px)) 0;
  transition: translate 0.5s var(--zen-library-easing);
}
:root[zen-right-side="true"] .browserSidebarContainer.zen-glance-overlay {
  translate: var(--zen-library-offset, 0px) 0;
}
:root:has(.zen-glance-overlay) #zen-appcontent-wrapper,
:root:has(.zen-glance-overlay) #browser {
  overflow: visible !important;
}
zen-library,
#zen-library-container {
  opacity: 1;
  transition: opacity 0.2s ease !important;
}
:root:has(.zen-glance-overlay:not([fade-out="true"])) #zen-library-container {
  opacity: 0.4 !important;
}
:root.zen-toolbox-fading-in #navigator-toolbox {
  animation: zen-fade-in 0.3s cubic-bezier(0.25, 1, 0.5, 1) !important;
}
@keyframes zen-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
